.actionsContainer {
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.switchButtonEnable {
  cursor: pointer;
}
.switchButtonDisable {
  border: red 1px solid;
  cursor: pointer;
}
