.containerCards {
  margin: 6em auto 1rem auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
}
.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.switchButtonEnable {
  cursor: pointer;
}
.switchButtonDisable {
  border: red 1px solid;
  cursor: pointer;
}
